* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Code-Pro-Black;
    src: local("https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Black.otf"),
      url(https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Black.otf)
        format("opentype");
  }
  @font-face {
    font-family: Code-Pro-Bold;
    src: local("https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Bold.otf"),
      url(https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Bold.otf)
        format("opentype");
  }
  @font-face {
    font-family: Code-Pro-Light;
    src: local("https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Light.otf"),
      url(https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro-Light.otf)
        format("opentype");
  }
  @font-face {
    font-family: Code-Pro;
    src: local("https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro.otf"),
      url(https://unpkg.com/aks-fonts@1.0.0/Codepro/Code-Pro.otf)
        format("opentype");
  }
  .aks-404-page {

  }
  .aks-404-page-content {

  }
  .aks-404-page-content h1 {

  }
  .aks-404-page-content h3 {

  }
  .aks-404-page-btn {

  }
  .aks-404-page-btn:hover {
    
  }